/* ------------------------------------ Default ------------------------------------ */
html, body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}
.auto-margin {
    width: 100%;
    max-width: 400px;
    min-width: 360px;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
}
.auto-margin > * {
    margin: 0 0 20px 0;
}
.auto-margin > *:last-child {
    margin-bottom: 0;
}
.content-block-1 {
    max-width: 90%;
    margin-left: 5%;
}
.content-block-title {
    max-width: 90%;
    /* margin: 10px 0 10px 10%; */
    margin-left: 5%;
    color: #1E3B77;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto Bold;
    line-height: 21px;
}
/* input */
label input[type=checkbox] {
    display: none;
}
input.file {
    display: none;
}
input.no-border {
    border: none;
}
input.no-border:focus {
    border: none;
}
input.no-outline {
    outline: none;
}
input.no-outline:focus {
    outline: none;
}
input.no {
    border: none;
    outline: none;
}
input.no:focus {
    border: none;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
/* upload */
@keyframes upload {
    from    { transform: rotate(0deg); }
    to      { transform: rotate(360deg); }
}
.upload-await {
    position: relative;
}
.upload-await::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006c;
}
.upload-await::after {
    content: "";
    width: 10%;
    height: 10%;
    background-color: #FFF;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 9;
    animation: upload ease-in-out infinite 1s;
}
a, a:link, a:visited, a:active, a:hover {
    color: #000;
    text-decoration: none;
}
/* ------------------------------------ Modal ------------------------------------ */
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #252525c2;
    display: none;
}
.dialog {
    display: none;
    position: absolute;
    padding: 20px 30px;
    background-color: #FFF;
}
/* ------------------------------------ Apply Page ------------------------------------ */
/* Header */
.apply-page .only-host-view {
    display: none;
}
/* input[name=agentGirls]{
    display: none;
} */
.apply-page .auto-margin {
    padding: 5px;
}
.apply-page .auto-margin > div {
    margin: auto;
}
.header-title {
    font-size: 26px;
    line-height: 31px;
    font-family: Helvetica Bold;
    font-weight: bold;
    color: #000;
    margin: 32px 0 !important;
    text-align: left;
}
.apply-tips {
    padding: 10px 14px;
    background: #EEF3F9;
    border-radius: 10px;
    border: 1px solid #B0B0B0;
}
.apply-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.apply-info > *:last-child {
    margin-top: 10px;
}
/* select[name=regionCode]{
    margin-top: 10px;
    width: 300px;
    height: 40px;
} */
.apply-tips > p {
    font-size: 12px;
    font-family: Helvetica;
    color: #3C3C3C;
    line-height: 18px;
    margin: 0;
}
.image-list {
    width: 300px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, 90px);
}
.image-list img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #E6E6E6;
}
.image-list > img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
}
.upload-image {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: #E6E6E6;
    transition: all 0.4s ease-in-out;
}
.upload-image:hover {
    box-shadow: 0 0 10px 0px rgb(223, 224, 225);
    cursor: pointer;
}
input.input-file {
    display: none;
}
/*  */
.role-items {
    width: 300px;
    text-align: center;
}
label {
    cursor: pointer;
}
.role-label + .role-label {
    margin-left: 30px;
}
input[name=role]{
    display: none;
}
input[name=role] + span {
    display: inline-block;
    line-height: 1.2rem;
    position: relative;
    font-size: 16px;
    font-family: Roboto Regular;
}
input[name=role] + span::before {
    content: " ";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #D8D8D8 inset;
    background-color: #D8D8D8;
    margin-right: 10px;
    position: relative;
    top: 0.15rem;
    transition: all 0.4s ease-in-out;
}
input[name=role]:checked + span::before {
    box-shadow: 0 0 1rem 1rem #1E3B77 inset;
}
.input-gray {
    background-color: #E6E6E6;
    font-size: 14px;
    line-height: 17px;
    font-family: Helvetica;
    padding: 10px 20px ;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.input-gray:hover {
    box-shadow: 0 0 10px 0 #E6E6E666;
}
.input-gray:focus {
    box-shadow: 0 0 10px 0 #E9E9E9;
}
.input-gray, .input-gray:focus {
    outline: none;
    border: none;
}
.contact-info {
    width: 300px;
}
textarea.contact-info {
    resize: none;
    height: 100px;
}
.contact-info + .contact-info {
    margin-top: 20px;
}
/*  */
.social-icon{ display: inline-block; background:url(../img/social-icon-sprite.png) no-repeat 9999px 9999px;}
.icon_youtube-icon{ width:28px; height:28px; background-position:0px 0px;}
.icon_tiktok-cion{ width:28px; height:28px; background-position:-38px 0px;}
.icon_instagram-icon{ width:28px; height:28px; background-position:-76px 0px;}
.icon_facebook-icon{ width:28px; height:28px; background-position:-114px 0px;}

.social-items {
    margin-left: 5%;
    width: 300px;
    display: grid;
    grid-template-columns: 40px auto;
    row-gap: 20px;
}
.social-icon {
    width: 28px;
    height: 28px;
    margin: 6px;
}
/*  */
.submit-info {
    width: 300px;
    height: 40px;
    margin-left: 5%;
    line-height: 40px;
    background-color: #1E3B77;
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}
.submit-info:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #1E3B7766;
}

/* ------------------------------------ Login Page ------------------------------------ */
.login-and-signup-container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-and-signup {
    width: 100%;
    max-width: 420px;
    min-width: 360px;
}
.login-and-signup > * {
    width: 100%;
    margin-bottom: 20px;
}
.login-and-signup-title {
    font-size: 26px;
    line-height: 31px;
    color: #000;
    font-family: Helvetica Bold;
    font-weight: bold;
    text-align: center;
}

.login-and-signup-lists {
    display: flex;
    justify-content: space-around;
}
.login-and-signup-item {
    width: 78px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.login-and-signup-icon {
    width: 78px;
    height: 78px;
    transition: all 0.4s ease-out;
}
.login-and-signup-icon:hover {
    transform: scale(1.05);
}
.login-and-signup-text {
    font-size: 14px;
    line-height: 19px;
    color: #7C7C7C;
    font-family: Roboto Regular;
}

.login-and-signup-info > * {
    width: 100%;
}
.login-and-signup-info > *:first-child {
    margin-bottom: 33px;
}
.forget-password {
    text-align: right;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    font-family: Helvetica;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.forget-password:hover {
    text-shadow: 0 0 1px #000;
}
.submit-login-info {
    background-color: #1E3B77;
    font-size: 22px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.submit-login-info:hover {
    box-shadow: 0 0 5px 0 #425f99 ;
}

/* ------------------------------------ Agent Page ------------------------------------ */
.agent-header-container, .agent-host-lists {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.agent-header-container > *, .agent-host-lists > * {
    width: 100%;
}
.agent-header-container{
    padding: 20px;
    background-color: #FFF;
}
.agent-host-lists {
    padding: 10px;
    background-color: #F6F6F6;
}
.agent-host-lists .host-status {
    margin-bottom: 10px;
}
.toggle-host-list input {
    display: none;
}
label.toggle-host-list {
    display: inline-block;
}
.toggle-host-list input + span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    border-radius: 5px;
    background: #b3d2df;
    color: #333;
    transition: all 0.4s ease-in-out;
}
.toggle-host-list input:checked + span {
    background: #00b3ff;
    color: #FFF;
}
.toggle-host-list + .toggle-host-list {
    margin-left: 10px;
}
@media screen and ( min-width: 1000px ){
    .agent-header-container { padding: 36px 40px 46px 44px; }
    .agent-host-lists { padding: 53px 35px 53px 40px; }
}
/* header */
.agent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}
.agent-header-title, .host-header-title {
    font-size: 18px;
    font-family: Helvetica-BoldOblique, Helvetica;
    font-weight: normal;
    color: #1E3B77;
    line-height: 22px;
    font-weight: bold;
}
.agent-header-invitation-link {
    font-size: 14px;
    font-family: Helvetica;
    color: #6e6e6e;
    opacity: 0.7;
    line-height: 24px;
    padding: 0 13px;
    border-radius: 13px;
    border: 1px solid #979797;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.agent-header-invitation-link:hover {
    opacity: 1;
}

.agent-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.agent-info-tile {
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 19px;
}
.agent-info-content {
    font-size: 16px;
    font-family: Helvetica;
    color: #000000;
    line-height: 19px;
}
/*  */
.agent-add-host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agent-add-host-container > h2 {
    font-size: 26px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 31px;
}
.agent-add-host-container > div {
    display: flex;
}
@media screen and ( max-width: 700px ) {
    .agent-add-host-container { flex-direction: column-reverse; align-items: flex-start; }
}
@media screen and ( max-width: 500px ) {
    .agent-add-host-container > div { flex-direction: column;}
    .agent-add-host-container > div > *:last-child { margin: 20px 0 0 0;}
}
.agent-add-host {
    width: 218px;
    height: 53px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1E3B77;
    font-size: 18px;
    font-family: Helvetica;
    transition: all 0.4s ease-in-out;
}
.agent-add-host:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 #6a87c0;
}
.agent-add-host > *:last-child {
    margin-left: 10px;
}
.agent-add-host + .agent-add-host {
    margin-left: 22px;
}
.agent-add-host.add-new {
    background-color: #1E3B77;
    color: #FFF;
}
.agent-add-host.input-uid {
    background-color: #FFF;
    color: #A7A7A7;
}
.agent-add-host.input-uid > input {
    width: 115px;
}

.agent-host-item {
    display: grid;
    grid-template-columns: 130px 110px 130px 136px 122px 120px 80px  auto;
}
.agent-host-item .avatar img {
    max-width: 100%;
}
@media screen and ( max-width: 500px ) {
    .agent-host-item {
        grid-template-columns: 130px 100px auto;
    }
    .agent-host-item  .other-info { display: none; }
    .agent-host-item  .time-of-calls { display: none; }
    .agent-host-item  .work-hours { display: none; }
    .agent-host-item  .status { display: none; }
    .agent-host-item  .manage { display: none; }
}
.agent-host-item> * {
    overflow: hidden;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
    line-height: 19px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 0.5px #000;
}
.agent-host-item > h3 {
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 40px;
}
.agent-host-item > div.uid > a , a.uid{
    color: #33A1D2;
    cursor: pointer;
}
.agent-host-item > div.other-info {
    text-align: left;
}
.agent-host-item > div.manage {
    flex-direction: column;
}
.agent-host-item > div.manage > * {
    display: inline-block;
    width: 100%;
}
.agent-host-item > div.manage  .manage-option {
    display: inline-block;
    width: 100%;
    border-radius: 13px;
    border: 1px solid #979797;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.agent-host-item > div.manage > .delete {
    color: #979797;
    margin-bottom: 10px;
}
.agent-freeze-host {
    display: none;
}
.agent-freeze-host:checked + span {
    background-color: #1E3B77;
    color: #FFF;
}
/* create new host dialog */
.dialog-create-new-host {
    text-align: left;
}
/* .dialog-create-new-host > * + .dialog-create-new-host > * {
    margin-top: 20px;
} */
.dialog-create-new-host .dialog-title {
    font-size: 18px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #1E3B77;
    line-height: 22px;
    text-align: center;
}

input.create-new-host + span {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
    line-height: 22px;
}
input.create-new-host + span::before {
    content: " ";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #1E3B77;
    background-color: #FFF;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}
input.create-new-host:checked + span::before {
    background-color: #1E3B77;
}
.agent-upload-host-info-container {
    display: grid;
    grid-template-columns: 77px 150px;
    row-gap: 20px;
}
.agent-upload-host-info-container > * {
    height: 37px;
}
.agent-upload-host-info-container > .title {
    line-height: 37px;
    font-size: 14px;
    margin: 0;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.agent-upload-host-info-container > .input {
    padding: 10px 15px;
    font-size: 14px;
    font-family: Helvetica;
    color: #1E3B77;
    line-height: 17px;
    border-radius: 19px;
    border: 1px solid #E6E6E6;
    transition: all 0.4s ease-in-out;
}
.agent-upload-host-info-container > .input:hover {
    box-shadow: 0 0 5px 0 #E6E6E6;
}
.agent-upload-host-info-container > .input.avatar {
    border-color: #1E3B77;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agent-upload-host-info-container > .show-avatar {
    width: 100%;
    height: 150px;
    line-height: 150px;
    max-height: 150px;
    overflow: hidden;
    object-fit: cover;
    color: #000a;
    display: none;
}
.agent-upload-host-info-container > .input.avatar .icon {
    display: inline-block;
    margin-right: 10px;
}
.dialog-create-new-host .submit {
    min-width: 100px;
    margin: 34px auto 0 auto;
    line-height: 38px;
    padding: 0 20px;
    text-align: center;
    background: #1E3B77;
    border-radius: 27px;
    color: #FFF;
    transition: all 0.4s ease-in-out;
}
.dialog-create-new-host .submit:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 #8194b9;
}

/* ------------------------------------ Host Page ------------------------------------ */
.agent-view .only-host-self-view {
    display: none !important;
}
.host-content-container {
    background-color: #FFF;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.host-content-block-1 {
    padding: 0 10px;
    background-color: #FFF;
}
.host-header-container {
    padding: 10px;
}
@media screen and ( min-width: 1100px ){
    .host-content-block-1 {
        padding: 0 83px;
    }
    .host-header-container {
        padding: 10px 69px ;
    }
}
.host-page .title-1 {
    font-size: 24px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #1E3B77;
    line-height: 30px;
}
.host-personal-info {
    margin: 20px 0;
}
.host-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
}
.host-info-container > .host-info-avatar {
    display: flex;
}
.host-info-container .btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica;
    color: #000;
    opacity: 0.6;
    line-height: 18px;
    border-radius: 14px;
    padding: 3px 15px;
    border: 1px solid #000;
    transition: all 0.4s ease-in-out;
}
.host-info-container .btn-1:hover {
    cursor: pointer;
    opacity: 1;
}
.host-info-avatar {
    align-items: center;
}
.host-info-avatar > *:first-child {
    width: 170px;
    height: 170px;
    margin-right: 34px;
}
.host-info-avatar img {
    width: 100%;
    height: 100%;
}
@media screen and ( max-width: 500px ){
    .host-info-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .host-info-container > .host-info-avatar {
        flex-direction: column;
    }
    .host-info-avatar > *:first-child {
        width: 150px;
        height: 150px;
        margin: 0 0 10px 0;
    }
    .host-info-avatar > .btn-1 {
        width: 150px;
    }
}
.host-info-list input {
    min-width: 50px;
    max-width: 200px;
    border: none;
    outline: none;
    text-decoration: underline;
}
.host-info-list input:disabled {
    border: none;
    outline: none;
    background: none;
    color: #666;
    text-decoration: none;
}
.host-info-list {
    display: grid !important;
    grid-template-columns: auto 75px;
}
.host-info-list > .items {
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
}
.host-info-list .item > * {
    display: inline-block;
    margin: 0 10px 0 0;
}
.host-info-list label > input + span::after {
    content: "Edit";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica;
    color: #000;
    opacity: 0.6;
    line-height: 18px;
    border-radius: 14px;
    padding: 3px 15px;
    border: 1px solid #000;
    transition: all 0.4s ease-in-out;
}
.host-info-list label > input:checked + span::after {
    content: "Save";
    background-color: #000;
    color: #FFF;
    opacity: 1;
}

.host-info-list .title {
    font-size: 14px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 17px;
}
.host-info-list .content {
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
    line-height: 17px;
}
/* block */
.host-info-block-radios > label > span {
    display: inline-block;
    text-align: center;
    width: 211px;
    line-height: 64px !important;
}
.host-info-block-radios > label > input {
    display: none;
}
.host-info-block-radios input + span {
    background-color: #FFF;
    transition: all 0.4s ease-in-out;
}
.host-info-block-radios input:checked + span {
    background-color: #F6F6F6;
}
@media screen and ( max-width: 500px ) {
    .host-info-block-radios > label > span {
        width: 100px;
        font-size: 18px !important;
        line-height: 40px !important;
    }
}
/*  */
.host-info-content-block-container {
    width: 100%;
    background-color: #F6F6F6;
    padding: 50px;
}
@media screen and ( max-width: 500px ){
    .host-info-content-block-container {
        padding: 20px 10px;
    }
}
/* statistic */
.host-info-statistic-table {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content auto auto auto auto;
}
.host-info-statistic-table > .item {
    display: inline-block;
    box-shadow: 0 0 1px 0 #000;
}
.host-info-statistic-table > .item > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.host-info-statistic-table > .item > .title {
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    height: 50px;
    border-bottom: 1px solid #aaa;
    margin: 0;
}
.host-info-statistic-table > .item > .content {
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
    height: 100px;
}
@media screen and ( max-width: 500px ) {
    .host-info-statistic-table {
        grid-template-columns: repeat(3, 1fr);
    }
    .host-info-statistic-table > .item > .content{
        height: 50px;
    }
}
/* Gift Logs */
.host-info-gift-logs-container {
    display: none;
    width: 75%;
    margin: auto;
}
.host-info-gift-logs-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
}
.host-info-gift-logs-header .title {
    font-weight: 500;
    display: inline-block;
    margin: 0;
}
.host-info-gift-logs-header .content {
    font-weight: 400;
}
.host-info-gift-log-table {
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.host-info-gift-log-table > .item {
    display: inline-block;
    box-shadow: 0 0 1px 0 #000;
}
.host-info-gift-log-table > .item > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.host-info-gift-log-table > .item > .title {
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    height: 50px;
    border-bottom: 1px solid #aaa;
    margin: 0;
}
.host-info-gift-log-table > .item > .content > * {
    max-width: 65px;
    height: 65px;
    margin: 25px;
}
@media screen and ( max-width: 500px ) {
    .host-info-gift-logs-container { width: 100%; }
    .host-info-gift-log-table { width: 100%; }
    .host-info-gift-log-table > .item > .content > * { margin: 0; }
}
/* Call Logs */
.host-info-call-logs-container {
    display: none;
    width: 80%;
    margin: auto;
}
.host-info-call-logs-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
}
.host-info-call-logs-header > * > * {
    display: inline-block;
}
.host-info-call-logs-header .title {
    margin: 0;
    font-weight: 500;
}
.host-info-call-logs-header .content {
    font-weight: 400;
}
.host-info-call-log-table {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content auto auto;
}
.host-info-call-log-table > * {
    box-shadow: 0 0 1px 0 #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host-info-call-log-table .chat-info {
    flex-direction: column;
    align-items: flex-start
}
.host-info-call-log-table .chat-info * {
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
.host-info-call-log-table .chat-info .title-1 {
    opacity: 0.6;
}
.host-info-call-log-table > .title {
    font-size: 16px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 19px;
    margin: 0;
}
.host-info-call-log-table .avatar {
    height: 50px;
    max-width: 50px;
}
.host-info-call-log-table > *:not(.title) {
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
    line-height: 17px;
}
@media screen and ( max-width: 500px ) {
    .host-info-content-block-container .title {
        font-size: 10px !important;
    }
    .host-info-call-logs-container {
        width: 100%;
    }
    .host-info-call-log-table > .title.nickname {
        display: none;
    }
    .host-info-call-log-table > .title.avatar-title {
        display: none;
    }
    .host-info-call-log-table > .host-avatar {
        display: none;
    }
    .host-info-call-log-table > .host-name {
        display: none;
    }
    .host-info-call-log-table > * {
        padding: 5px;
    }
    .host-info-call-log-table {
        grid-template-columns: min-content min-content auto min-content;
    }
}
/*  */
.host-upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.host-upload-container  .upload-btn {
    display: inline-block;
    width: 133px;
    text-align: center;
    background: #1E3B77;
    border-radius: 27px;
    font-size: 18px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 48px;
    transition: all 0.4s ease-in-out;
}
.host-upload-container  .upload-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #cad6ee;
}
/*  */
.host-all-upload-list {
    display: grid;
    padding: 10px 150px 100px 150px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.agent-view .host-all-upload-list {
    grid-template-columns: repeat(3, 1fr);
}
@media screen and ( max-width: 500px ) {
    .host-all-upload-list {
        padding: 10px;
        grid-template-columns: 1fr;
    }
    .agent-view .host-all-upload-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .agent-view .host-all-upload-list .host-already-upload-item:nth-child(even) {
        justify-content: flex-end;
    }
    .agent-view .host-all-upload-list .host-already-upload-item:nth-child(even) .host-video {
        margin: 0;
    }
}
.host-all-upload-list > .host-already-upload-item {
    display: flex;
    align-items: center;
}
.host-already-upload-item > *:first-child {
    width: 121px;
    height: 121px;
    margin-right: 20px;
}
.host-already-upload-item > .host-video {
    position: relative;
}
.host-page .host-video > * {
    position: absolute;
    width: 100%;
    height: 100%;
}
.host-page .host-video > video {
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.host-page .host-video > .video-play {
    background-color: #00000041;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host-page .host-video > .video-play > div {
    cursor: pointer;
}
.host-already-upload-item > .manage {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
}
.host-already-upload-item > .manage > .item {
    text-align: left;
    height: 26px;
}
.host-already-upload-item .btn-2 {
    font-size: 14px;
    font-family: Helvetica;
    color: #979797;
    line-height: 18px;
    border-radius: 14px;
    padding: 4px 10px;
    border: 1px solid #979797;
    transition: all 0.4s ease-in-out;
}
.host-already-upload-item .btn-2:hover {
    cursor: pointer;
    color: #000;
    border-color: #000;
}
.host-already-upload-item input:checked + .btn-2 {
    border-color: #1E3B77;
    color: #FFF;
    background-color: #1E3B77;
}
.host-already-upload-item .btn-2.delete {
    border-color: red;
    color: red;
}

